@model MyExams.ViewModels.TeacherVM

@{
    ViewBag.Title = "Details";
}

<h2>Teacher Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeacherTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeacherTitle)
        </dd>

    </dl>

    <hr>


</div>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TeacherId }, new { @class="btn btn-success"}) 
    <input type="button" id="courses" value="Show All Courses" class="btn btn-primary" />
</p>

<div id="result">
</div>

@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })

@section Scripts{
    <script>
        $("#courses").click(function () {
            $("#result").load("@Url.Action("GetCoursesOfTeacher", "Teachers", new { id = Model.TeacherId })");
        });
    </script>
}