@model MyExams.ViewModels.StudentSituationVM



<div class="container">
    <div class="row">

        <div class="col-md-6  min-height align-center">
            <h2>Situation for @Model.StudentName.StudentFullName</h2>
        </div>
        <div class="col-md-6 min-height align-center specializationYear">
            <div class="col-md-3">
                <dt class="text-center">
                    @Html.DisplayNameFor(model => model.StudentProfile.Specialization)
                </dt>
                <dd class="text-center">

                    @Html.DisplayFor(model => model.StudentProfile.Specialization)
                </dd>
            </div>
            <div class="col-md-3">
                <dt class="text-center">
                    @Html.DisplayNameFor(model => model.StudentProfile.YearOfStudy)
                </dt>
                <dd class="text-center">
                    @Html.DisplayFor(model => model.StudentProfile.YearOfStudy)
                </dd>
            </div>
        </div>
    </div>
</div>

<hr />



@{
    if (Model.ExamsCount > 0)
    {

        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="situation-info">
                        <div class="content">
                            <p class="title">
                                @Html.DisplayNameFor(model => model.Average)
                            </p>
                            <h1 class="percentage">
                                @Html.DisplayFor(model => model.Average)
                            </h1>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 text-center">
                    <div class="situation-info">
                        <p class="title">
                            @Html.DisplayNameFor(model => model.Credits)
                        </p>
                        <h1 class="percentage">
                            @Html.DisplayFor(model => model.Credits)
                        </h1>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="situation-info overflow">
                        <p class="title text-center">
                            @Html.DisplayNameFor(model => model.ExamsToRetake) @Model.ExamsToRetakeCount / @Model.ExamsCount
                        </p>

                        @if (Model.ExamsToRetake.Any())

                        {

                            <ul>
                                @foreach (var item in Model.ExamsToRetake)
                                {


                                <li>
                                    @Html.DisplayFor(modelItem => item)
                                </li>

                                }
                            </ul>

                        }

                        else
                        {

                            @*<li>No exams to retake</li>*@
                            <h1 class="text-center">-</h1>

                        }
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {

        <div class="container">
            <div class="col-md-4 text-center">
                <div class="situation-info">
                    <p class="title">
                        @Html.DisplayNameFor(model => model.Average)
                    </p>
                    <h1>
                        @Html.DisplayFor(model => model.Average)
                    </h1>
                </div>
            </div>



            <div class="col-md-4 text-center">
                <div class="situation-info">
                    <p class="title">
                        @Html.DisplayNameFor(model => model.Credits)
                    </p>
                    <h1>
                        @Html.DisplayFor(model => model.Credits)
                    </h1>
                </div>
            </div>


            <div class="col-md-4 text-center">
                <div class="situation-info">
                    <p class="title">
                        @Model.ExamsCount  @Html.DisplayNameFor(model => model.ExamsToRetake) out of @Model.ExamsCount
                    </p>
                    <h1 class="text-center">
                        -
                    </h1>
                </div>
            </div>


        </div>

    }

}


