@model List<MyExams.Models.ExamsOfStudent>

@{

    if (!Model.Any())
    {
        <br /> <br />
        <h2 class="text-center">No Exams Taken</h2>
    }
    else
    {
        <br/>
        <h2 class="tableTitle">Exams of Student</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="sortable">
                                    @Html.DisplayNameFor(model => model.First().Date)
                                </th>
                                <th class="sortable">
                                    @Html.DisplayNameFor(model => model.First().Course.Course)
                                </th>
                                <th class="sortable">
                                    @Html.DisplayNameFor(model => model.First().Course.Teacher.TeacherTitle)
                                </th>
                                <th class="sortable">
                                    @Html.DisplayNameFor(model => model.First().Course.Teacher.TeacherFullName)
                                </th>
                                <th class="sortable">
                                    @Html.DisplayNameFor(model => model.First().Grade)
                                </th>
                                <th class="sortable">
                                    @Html.DisplayNameFor(model => model.First().Course.Credits)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Date)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Course.Course)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Course.Teacher.TeacherTitle)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Course.Teacher.TeacherFullName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Grade)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Course.Credits)
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
}
