@model MyExams.ViewModels.StudentVM
@{
    ViewBag.Title = "Details";
}

<h2>Student Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Specialization)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specialization)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearOfStudy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearOfStudy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CNP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CNP)
        </dd>
    </dl>

    <hr>

</div>

<p>
    @Html.ActionLink("Edit", "Edit","Students1", new { id = Model.StudentId }, new { @class = "btn btn-success" })
    <input type="button" id="exams" value="Show All Exams" class="btn btn-primary" />
</p>

<div id="result">
</div>


@Html.ActionLink("Back to List", "Index","Students1", null, new { @class = "btn btn-default" })

@section Scripts{
    <script>
        $("#exams").click(function () {
            $("#result").load("@Url.Action("GetExamsOfStudent", "Students1", new { id = Model.StudentId })");
        });
    </script>
}





