@model MyExams.Models.CourseDetails

<div style="height:30px;">
</div>

<h2 class="tableTitle">Course Details</h2>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher.TeacherTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher.TeacherFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th></th>
        </tr>
            </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Course)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Teacher.TeacherTitle)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Teacher.TeacherFullName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Duration)
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
