@model MyExams.ViewModels.ExamVM

@{
    ViewBag.Title = "Details";
}

<h2>Exam Details</h2>

<div>

    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course.Course)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.Course)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.StudentFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.StudentFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.StudentLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.StudentLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentProfile.Specialization)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentProfile.Specialization)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentProfile.YearOfStudy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentProfile.YearOfStudy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course.Credits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.Credits)
        </dd>
    </dl>

    <hr>

</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ExamId }, new { @class = "btn btn-success" }) 
    <input type="button" id="course" value="Show Course Details" class="btn btn-primary" />
</p>

<div id="result">
</div>

@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })

@section Scripts{
    <script>
        $("#course").click(function () {
            $("#result").load("@Url.Action("GetCourseDetails", "Exams", new { id = Model.ExamId })");
        });
    </script>
}
