@using PagedList.Mvc;
@model PagedList.IPagedList<MyExams.ViewModels.TeacherVM>

@{
    ViewBag.Title = "Index";
}

<h2 class="tableTitle">Teachers Index</h2>

<p>
    <a href="@Url.Action("Create", "Teachers1")" class="btn btn-success">
        Create    <span class="glyphicon glyphicon-plus"></span>
    </a>
</p>

@using (Html.BeginForm())
{
    <p>
        Find: @Html.TextBox("SearchString")

        <button type="submit" class="btn btn-default" value="Search"><span class="glyphicon glyphicon-search"></span></button>
        @Html.ActionLink("Reset Filter", "Index", null, new { @class = "btn btn-default" })

        Order by : @Html.ActionLink("Name", "Index", new { sortOrder = "tnam", searchString = ViewBag.SearchString })
        @Html.ActionLink("Title", "Index", new { sortOrder = "titl", searchString = ViewBag.SearchString })
    </p>
}

<br />

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 col-sm-6">
                <div class="teachers-div text-center">
                    <header></header>
                    <h3>
                        @Html.DisplayFor(modelItem => item.TeacherFullName)
                    </h3>


                    <h4>
                        @Html.DisplayFor(modelItem => item.TeacherTitle)
                    </h4>
                    <div class="col-md-12 teacherFooter">
                        @Html.ActionLink("Edit", "Edit", "Teachers1", new { id = item.TeacherId }, new { @class = "btn btn-success btn-sm btn-green-modified" })
                        @Html.ActionLink("Details", "Details", "Teachers1", new { id = item.TeacherId }, new { @class = "btn btn-sm btn-primary" })
                        @Html.ActionLink("Delete", "Delete", "Teachers1", new { id = item.TeacherId }, new { @class = "btn btn-sm btn-danger" })
                    </div>
                </div>
            </div>

        }
    </div>
</div>
<div style="margin:20px 0; width:200px;">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchString = ViewBag.SearchString }))
</div>
<br /><br />
